html {
    /*color: brown;*/
    text-align: center;
}

#page {
    display: block;
}
a:link {
    color: #1c7430;
}

/* NAV */
nav{
    text-align: center;
}
nav ul{
    margin: 0 ;
    padding: 0 ;
}
nav ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
}
nav ul li.current a{
    color: #F33135;
}
nav ul li a:hover{
    color: #E7DA66;
}




/*******************************
* left
********************************/
.opponent_message {
    position: relative;
    background: #fff;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-right: 20%;
    clear: both;
    max-width: 500px;
    float: left;
}
.opponent_message:after,
.opponent_message:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.opponent_message:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.opponent_message:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #000;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* right
********************************/
.my_message {
    position: relative;
    background: #85e249;
    border: 1px solid #777;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 20%;
    clear: both;
    max-width: 500px;
    float: right;
}
.my_message:after,
.my_message:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.my_message:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #85e249;
    border-width: 7px;
    margin-top: -7px;
}
.my_message:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #777;
    border-width: 8px;
    margin-top: -8px;
}

/*******************************
* clear
********************************/
.clear_balloon{
    clear: both;
}
.comment_area {
    margin-bottom: 20px;
}
/*******************************
* 改行
********************************/
.new_line {
    white-space: pre-line;
}